/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.flex-container {
	display: flex;
	align-items: center;
}

.cursorPointer {
	cursor: pointer;
}
